<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>PyChat-Pro - 联系人</title>
    <link rel="stylesheet" href="/static/css/contact_styles.css">
</head>
<body>
    <div id="contact-container">
        <button id="back-button" class="nav-button">
            <span class="arrow-left"></span>
        </button>
        <h2>PyChat-Pro - 联系人</h2>
        <div id="friends-list">
            <h3>好友列表</h3>
            <ul id="friends">
                <!-- 好友列表将通过 JavaScript 动态生成 -->
            </ul>
        </div>
        <div id="group-list">
            <h3>群聊列表</h3>
            <ul id="groups">
                <!-- 群聊列表将通过 JavaScript 动态生成 -->
            </ul>
        </div>
    </div>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/contact.js"></script>
</body>
</html>